body {
  background-color: firebrick;
  font: Georgia, Times;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  font-family: 'Sigmar One', cursive;
  font-size: 50px;
  color: cornsilk;
  text-shadow: 3px 3px 3px black;
  align-self: center;
}

h3 {
  background-color: indianred;
  font-family: 'Sigmar One', cursive;
  font-size: 20px;
  color: gold;
  text-shadow: 2px 2px 2px black;
}

h4 {
  font-family: Georgia, Times;
  font-size: 16px;
  color: lavender;
  text-shadow: 2px 2px 2px black;
}

ul {
  background-color: indianred;
  font-family: Arial, Verdana;
  color: whitesmoke;
  text-shadow: 2px 2px 1px black;
  width: 200px;
}

#nav {
  height: 40px;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  background-color: red;
  width: 150px;
  height: 25px;
  margin: 20px;

  border: 1px solid gray;
  box-shadow: 2px 2px 10px black;
  border-radius: 5px;

  font-family: 'Kanit', sans-serif;
  text-decoration: none;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  active: white;
  hover: yellow;
  visited: white;
}

a:visited {
  color: white;
}

a:hover {
  color: yellow;
}

#disclaimer {
  color: orange;
  text-shadow: 1px 1px 1px black;
  margin-top: 25px;
}
